{% extends "layout.html" %}

{% block content %}
<section>
    <aside>
        {% for year, posts in grouped_posts %}
            <h3>{{ year }}</h3>
            <ul>
            {% for post in posts %}
                <li>
                    <a href="/{{ post.year }}/{{ post.month }}/{{ post.day }}/{{ post.name }}">
                        {{ post.title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </aside>
</section>
{% endblock %}
